body {
    background-image: url('../img/background.png');
    background-size: contain;
}

.nav-link, .list-group-item {
    color: #f1d565;
    background-color: transparent;
    border: none;
}

.list-group-item {
    margin-bottom: 10px;
}

.list-group-item.active {
    color: #0d1a3a;
    background-color: #f1d565;
}

.list-group-item:hover {
    color: #0d1a3a;
    background-color: #f1d565;
    border-radius: 5px;
}